<h2>Projects</h2>
<br />
	<div id = "myTabs" class = "tabbable tabs-left">
		<ul id = "tab" class = "nav nav-tabs">
			<li class = "active"><a href = "#rails" data-toggle = "tab">Rails</a></li>
			<li><a href = "#c" data-toggle = "tab">C/C++</a></li>
			<li><a href = "#js" data-toggle = "tab">JavaScript</a></li>
			<li><a href = "#php" data-toggle = "tab">php</a></li>
			<li><a href = "#python" data-toggle = "tab">Python</a></li>
			<li><a href = "#objc" data-toggle = "tab">Objective-C</a></li>
		</ul>

	<div id = "myTabContent" class = "tab-content">
		<div id = "rails" class = " tab-pane active">	
            <div class= "row">

				<div class = "span4" data-original-title>
					<h4> ChickenChasing.com </h4>
                    <div><a class= "btn" href = "http://chickenchasing.herokuapp.com"><%= image_tag "chickenLogo2.jpg"  %></a></div>
				</div>
				
				<div class = "span4" data-original-title>
					<h4>City on a Hill</h4>
					<div>
						<a class= "btn" href = "http://cityonahillstl.herokuapp.com"><%= image_tag "logo.jpg"  %></a>
					</div>
				</div>	
				<div class = "span4" data-original-title>
                <br/>
					<h4>CS3380 Class Website</h4>
						<div>
                            <a class= "btn" href = "http://cs3380lab.herokuapp.com"><%= image_tag "database.png" %></a>
						</div>
					</div>
			</div>	
		</div>	
		
		<div id = "c" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4> The Speed of Light</h4>
					<div>
						<a class= "btn" href = "/speed_of_light"><%= image_tag "gameplay.png" %></a>
					</div>
				</div>
	
				<div class = "span5" data-original-title>
					<h4> My Very Own Shell</h4>
					<div>
						<a class= "btn" href = "/shell"><%= image_tag "shell.png" %></a>
					</div>
				</div>
			</div>
		</div>
		
		<div id = "js" class = " tab-pane">	
			<div class = "row">
				<div class = "span5" data-original-title>
					<h4> Mortality Risk Calculator (Cerner)</h4>
					<div>
						<a class= "btn" href = "/mortality_calculator"><%= image_tag "mortality.png" %></a>
					</div>
				</div>
			
				<div class = "span5" data-original-title>
					<h4> MU Hospital Patient List MPages (Cerner)</h4>
					<div>
						<a class= "btn" href = "/mpages"><%= image_tag "mpage.png" %></a>
					</div>
				</div>
			</div>
		</div>
		<div id = "php" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4> Airline Reservation System</h4>
					<div>
						<a class= "btn" href = "/muStrategicCommunicationsBuilding"><img src="pictures/MiddleOut.jpg" alt="Podium"/></a>
					</div>
				</div>
			
				<div class = "span5" data-original-title>
					<h4> TigerTech Adventures</h4>
					<div>
						<a class= "btn" href = "/booneCountyFireStation8"><img src="pictures/slide0001_image011.png" alt="Station 8"/></a>
					</div>
				</div>
			</div>		
		</div>
		
		
		<div id = "python" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4> Capstone </h4>
					<div>
                        <a class= "btn" href = "/capstone"><%= image_tag "corobot.jpeg" %></a>
					</div>
				</div>
			</div>		
		</div>
		
		<div id = "objc" class = " tab-pane">
			<div class= "row">
				<div class = "span5" data-original-title>
					<h4>Redi Entrepreneurship App</h4>
					<div>
						<a class= "btn" href = "/redi_app"><%= image_tag "rediApp.png"  %></a>
					</div>
				</div>
			</div>		
		</div>
		
	</div>
	</div>	
</div>	
