%p#notice= notice
.hero-unit
  %p
    %h1
      = @post.title
    %h3 
      = @post.created_at.strftime "%m/%d/%Y"
  %hr
  %p
    =if(!@post.pic.empty?) then image_tag %Q{#{@post.pic}}, {:align => "right"} end
  %p
    =@post.body

  %br
  = link_to 'Back', posts_path
